<div class="card__details__wrapper">
  <div class="card__details__single animated bounceInDown" *ngIf="gameDetails">
    <a routerLink="/games" class="back">Back to List</a>
    <img [src]="gameDetails.game.image"/>
    <div class="info">
      <h1>{{gameDetails.game.name}}</h1>
      <p>Speed run by {{gameDetails.player.name}}
        <br>from {{gameDetails.player.country.name}} <span class="flag-icon flag-icon-{{gameDetails.player.country.code}}"></span>
        <span class="time"><i class="fas fa-stopwatch"></i> {{gameDetails.run.time.hours}} hours, {{gameDetails.run.time.minutes}} minutes and {{gameDetails.run.time.seconds}} seconds</span></p>
      <a target="_blank" href="{{gameDetails.run.video}}"><button><i class="fas fa-video"></i> Watch video</button></a>
    </div>
  </div>
  <div *ngIf="!gameDetails">Loading...</div>
</div>
