.card__details__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.card__details__single {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card__details__single:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 1;
}
.card__details__single img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card__details__single .back {
  position: absolute;
  top: -30px;
  right: 0;
}
.card__details__single .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 1;
  transition: 0.5s;
}
.card__details__single .info h1 {
  margin: 0px;
}
.card__details__single .info p {
  font-size: 15px;
  margin-top: 8px;
}
.card__details__single .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.card__details__single .info button:hover {
  background: dodgerblue;
  color: white;
}

.card__details__single .time {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
