.card__row {
  max-width: 900px;
  margin: 50px auto 0;
}

.card__game {
  float: left;
  padding: 0 1rem;
  width: 25%;
  margin-bottom: 3em;
  box-sizing: border-box;
  cursor: pointer;
}

.card__wrapper {
  background-color: #fff;
  min-height: 200px;
  background-size: cover;
  flex: 1;
  position: relative;
  align-items: flex-end;
  display: flex;
  background-position: center;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.12);
}

.card__title {
  background-color: #00000000;
  color: #00000000;
  width: 100%;
  height: 100%;
  flex: 1;
  font-size: 1.3em;
  justify-content: center;
  position: absolute;
  align-items: center;
  display: flex;
  text-align: center;
  transition: all 0.3s ease-in;
}

.card__game:hover .card__title {
  background-color: #000000c7;
  color: white;
}
