<div class="card__row">
  <div class="card__game" [routerLink]="['/games', game.id]" *ngFor="let game of games">
    <div class="card__wrapper" [ngStyle]="{'background-image': 'url(' + game.image + ')'}">
          <div class="card__title">
            {{game.name}}
          </div>
    </div>
  </div>
</div>
